
.box-1{
    width: 90%;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    background:rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    font-family: sans-serif;
    padding: 10px;
}
.personal-details{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.avatar{
    width: 90px;
    height: 90px;
    position: relative;
    display: inline-block;
    top: 20px;
    left:40px;
    border: 2px solid orange ;
    border-radius: 10px;
    flex-basis: 10%;
}
.personal-info{
    margin-top: 40px;
    flex-basis: 80%;

}
.name-surname{
    font-size: 40px;
    display: inline;
}
.cars{
    text-decoration: none;
}
.cars h5{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 10px;
    position: relative;

    
}
ul{
    list-style-type: none
}
.car{
    margin: 10px;
}

.route-list h1{
    position: relative;
    text-align: center;
   
    margin-left: auto;
    margin-right: auto;

}
.route-list ul{
    position: relative;
    margin: 10px;
}
.route-list ul li{
    margin: 4px;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 10px;
}

.assigned-route-status{
    text-align: right;
    font-size: 30px;
}


.active-route h1{
    position: relative;
    text-align: center;
   
    margin-left: auto;
    margin-right: auto;
}

.active-rout-status button {
    color: aliceblue;
    text-decoration: none;
    background:none;
    border: none;
    margin: 10px;
    padding: 8px;
    text-align: center;
}

.active-rout-status button:hover{
    background-color: orange;
    border-radius: 10px;
}
.active-rout-status select{
    color: aliceblue;
    text-decoration: none;
    background:none;
    border: none;
    margin: 10px;
    padding: 8px;
    text-align: center;
}
.active-rout-status label{
    font-size: 30px;
}
.active-route-info{
    margin: 10px;
}




.routes-history h1{
    position: relative;
    text-align: center;
   
    margin-left: auto;
    margin-right: auto;

}
.routes-history ul{
    position: relative;
    margin: 10px;
}
.routes-history ul li{
    margin: 4px;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 10px;
}
.routes-history-status{
    text-align: right;
    font-size: 30px;
}




.communication{
    position: relative;
    text-align: center;
    

}
.communication .chat{
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../../ic/chat.jpg") ;
}
.messages-box{
    
   text-align: right;
   min-height: 100px;
   
   
}
.messages-box p{
    background-color: rgb(215, 224, 227);
    display: inline-block;
    border-radius: 10px;
    border: 2px solid orange;
    padding: 5px;
}

.messages-box li{
    margin-bottom: 10px;
    color: black;
}

.send-message input{
    text-decoration: none;
    background:none;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 20px;
}





.communication .call{
  position: relative;
  background-color: orange;
  color: white;
  font-family: "Poppins",sans-serif;
  font-size: 1em;
  padding: 10px;
  text-decoration: none;
  border-radius: 0.3em;
  
}
.call-box{
    margin: 30px;
}









.search-bar{
    display: flex;
    justify-content: center;
}
.search-bar-attribute{
    position: relative;
    margin-left: 5px;
    padding: 5px;
}
.search-bar-attribute input{

    margin-left: 5px;
    padding: 5px;
}
.route-detail{
    text-align: center;
}
.route-detail-info{
    position: relative;
    padding: 10px;
    top: 70px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    width: 500px;
    border: 3px dashed black;
    color: black;

}
.route-detail-info h4{
    display: block;
}
.route-detail .name-of-city{
    font-size: 30px;
    font-family: sans-serif;
    padding-left: 50px;
    font-weight: bold;
    color: orange;
}
.route-detail .times-of-route{
    margin-bottom: 10px;
    margin-top: 10px;
}
.route-detail .times-of-route .time-route{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.route-detail .route-det-status{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: orange;

}
.d{
    top: 100px;
    position: relative;
    font-size: 24px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    margin-top: 15px;
    margin-left:auto; 
    margin-right:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F3C693;
    background-color: #F3C693;
    color:aliceblue;
    border-radius: 25px;
}
.link-to-route-detail{
    font-size: 20px;
    display: inline-block;
    position: relative;
    color: aliceblue;
    background-color: #F3C693;
    border-radius: 10px;
    padding: 10px;


}
.link-to-route-detail:hover{

    text-decoration: underline;
}