
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-page
{
    height: 100%;
	width: 100%;
    background-color: #c2af9a;

}

.navbar
{
    background-color: rgba(99, 99, 99, 0.371);
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 10px;
}

nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: sans-serif;
}

nav ul li button:hover
{
    color: orange;
}

nav ul li a:hover
{
    color: orange;
}

a{
    text-decoration: none;
    color: orange;
    font-size: 28px;
}

.form-box
{
    width:380px;
	height:380px;
	position:relative;
	margin:2% auto;
	background:rgba(0, 0, 0, 0.578);
    border-radius: 5px;
	padding:10px;
    overflow: hidden;
}

.button-box
{
    margin: 35px 100px;
    padding: 10px, 30px;
	position:relative;
    text-align: center;
    font-size: 25px;
	border-radius: 30px;
    color: white;
}
.incorrect{
    text-align: center;
    color: red;

}

.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
}

.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid orange;
	outline:none;
	background: transparent;
}
.submit-btn
{
	
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: 25px auto;
    top: 100px;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}


#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
.hidden{
    display: none;
}

.form-box-contact
{
    width:380px;
	height:200px;
	position:relative;
	margin:2% auto;
	background:rgba(0, 0, 0, 0.4);
    border-radius: 5px;
	padding:10px;
    overflow: hidden;
}

.contact-head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}


.list-socials{
    position:relative;
    justify-content: center;
    align-items: center;
    top: 50%;
    text-align: center;

}
.socials{
   display: inline;
   margin-right: 10px;
   justify-content: center;
   align-items: center;

}



.about-page{
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 40px 400px  40px  400px;
    height: 300px;
    background:rgba(0,0,0,0.3);
    border-radius: 5px;
    overflow: hidden;
}
.about-head{
    margin-top: 10px;
    color: rgb(255, 222, 162);
    font-family: sans-serif;
}
.about-main{
    margin: 30px 10px 10px 10px;
    font-size: 24px;
    font-family: "Gill Sans", sans-serif;
    text-align: left;

}
.begin{
    font-size: 40px;
    color: rgb(249, 209, 134);
    display: block;
    text-align: left;
}

.comp-name{
    font-size: 40px;
    color: rgb(255, 187, 60);
    font-family: cursive;
}
.service{
    width: 90%;
    margin: 3rem auto;
    margin-block: 8rem;
}
.service-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr [col-start]);
    gap: 3rem;
    text-align: center;
    color: white;
    

}
.service-box p{
    background:rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.service-box h1{
    background:rgba(0, 0, 0, 0.4);
    
}

.service-box-item1{
    margin-top: 3rem;
    margin-bottom: 2rem;
    background-color: #eee;
    background-image: url('./ic/driver-back.jpeg');


    background-size: cover;
    border-radius: 10px;
    min-height: 200px;
    border: 2px solid black;
}
.service-box-item2{
    margin-top: 3rem;
    margin-bottom: 2rem;
    background-color: #eee;
    background-image: url('./ic/images-2.jpeg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid black;
    min-height: 200px;
}
.service-box-item3 {
   
    margin-top: 3rem;
    margin-bottom: 2rem;
    background-color: #eee;
    background-image: url('./ic/Unknown-3');
    background-position: bottom;

    background-size: cover;
    border-radius: 10px;
    min-height: 200px;
    border: 2px solid black;
}
